{% extends 'base.html.twig' %}

{% block javascripts %}
{% javascripts '@AppBundle/Resources/public/js/*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1 class="display-3">
            Visit Register
        </h1>
    </div>

    <div class="jumbotron m-t-3">
        <div class="datepicker">

        </div>
        <script>
          $( function() {
            $( ".datepicker" ).datepicker();
          } );
          $( function() {
            $( ".datepicker" ).on('change', function(){
              console.log($( ".datepicker" ).val());
            })
          } );
        </script>

        <div class="container">
            {{form(form)}}
            </div>
        </div>
    </div>
</div>

{% endblock %}
